%table.members
  %tr
    %th= 'Member email'
    %th= 'Role'
  - @memberships.each do |membership|
    %tr.member
      %td= membership.user.email
      %td= membership.role.capitalize

= link_to 'Assign members', new_project_membership_path(@project) if current_user.is_admin_of?(@project)

