= semantic_form_for [@chat, @message], :remote => true do |form|
  = form.inputs do
    = form.input :content, :as => :string, :label => 'Message'
  = form.buttons do
    = form.commit_button 'Send message'