= semantic_form_for [@project, @ticket] do |form|
  = form.semantic_errors :project, :title, :description

  = form.inputs do
    = form.input :title
    = form.input :description

  = form.buttons do
    = form.commit_button
