= semantic_form_for @project do |form|
  = form.semantic_errors :name, :description, :user
  = form.inputs do
    = form.input :name
    = form.input :description

  = form.buttons do
    = form.commit_button

