.project
  %h1= "Project: #{@project.name}"
  %p= @project.description

  .actions
    = link_to 'New ticket', new_project_ticket_path(@project) if can? :manage_tickets, @project
    = link_to 'New sprint', new_project_sprint_path(@project) if can? :manage_sprints, @project
    = link_to 'Members', project_memberships_path(@project) if can? :browse_memberships, @project
    = link_to 'Chats', project_chats_path(@project) if can? :browse_chats, @project
  
  .instructions
    %p= 'Drag and drop to manage your tickets'

  .boards
    = render :partial => 'project/boards/board', :locals => { :board => @icebox }
    = render :partial => 'project/boards/board', :locals => { :board => @backlog }
    = render :partial => 'project/boards/board', :locals => { :board => @sprint } if @sprint.present?
  .summary