%table.project
  %tr
    %th= t('activerecord.attributes.project.name')
    %th= t('activerecord.attributes.project.description')
  %tr
    %td.name= @project.name
    %td.description= @project.description
    
= link_to 'Members', project_memberships_path(@project)

