%h1.page_label= 'Memberships'

%table.members
  %tr
    %th= 'Member email'
    %th= 'Role'
    %th
    %th
  - @memberships.each do |membership|
    %tr.member
      %td= membership.user.email
      %td= membership.role.capitalize
      %td= link_to "Edit", edit_project_membership_path(@project, membership) if can? :manage_memberships, @project
      %td= link_to "Delete", project_membership_path(@project, membership), :method => :delete if can? :manage_memberships, @project

.members_actions
  = link_to 'Assign new member', new_project_membership_path(@project) if can? :manage_memberships, @project

