.chat_window{ 'data-pusher-key' => Pusher.key, 'data-chat-channel-name' => chat_channel_name_for(@chat) }
  .titles
    %h3.chat_title= @chat.title
    %h3.attachements Chat attachements
  .messages
    - @messages.each do |message|
      = render 'chat/messages/message', :message => message
  .chat_attachements
    - unless @chat_attachements.empty?
      - @chat_attachements.each do |chat_attachement|
        = render 'chat/chat_attachements/chat_attachement', :chat_attachement => chat_attachement
  .new_message
    = render 'chat/messages/form'
  .new_chat_attachement
    = render 'chat/chat_attachements/form'