- if current_user.present?
  #navigation_bar{:class => @stretched_view}
    %span= link_to 'Projects', projects_path
    - if @project.present?
      - if @project.new_record?
        %span.connector >
        %span= link_to 'New project', new_project_path
      - else
        %span.connector >
        %span= link_to @project.name, project_path(@project)

        = render :partial => 'application/navigation/memberships'
        = render :partial => 'application/navigation/chats'
        = render :partial => 'application/navigation/tickets'
        = render :partial => 'application/navigation/sprints'
