#top_bar
  #user_info
    .avatar= avatar_for(current_user)
    .email= link_to current_user.email, edit_user_path(current_user) if current_user.present?
  #session_actions
    %ul
      - unless current_user.present?
        %li= link_to(t('sign_up'), new_user_registration_path)
        %li= link_to(t('sign_in'), new_user_session_path)
      -else
        %li= link_to(t('sign_out'), destroy_user_session_path, :method => :delete)