= semantic_form_for [@project, @ticket] do |form|
  = form.semantic_errors :project, :title, :description, :sequence_number, :story, :points, :user

  = form.inputs do
    = form.input :title
    = form.input :story, :collection => tickets_types_as_form_collection, :include_blank => false, :label => 'Story type'
    = form.input :points, :collection => points_for_project(@project), :as => :select, :include_blank => false
    = form.input :user, :collection => @users, :label => 'Assigned to'
    = form.input :board
    = form.input :description
    = render 'cucumber_description'

  = form.buttons do
    = form.commit_button

