.show  
  .ticket
    %h1= "Ticket: #{@ticket.title}"
    = render :partial => 'project/tickets/actions'
    .title
      .header= 'Title:'
      .content= @ticket.title
    .story
      .header= 'Story type:'
      .content= @ticket.story.capitalize
    - if @ticket.story == Ticket::TYPES[:feature]
      .points
        .header= 'Points:'
        .content= @ticket.points
    .user
      .header= 'Assigned to:'
      .content= @ticket.user.try(:email) || 'nobody'
    .board
      .header= 'Board:'
      .content= @ticket.board.name
    .state
      .header= 'State:'
      .content= Ticket::STATES[@ticket.state]
    .description
      .header= 'Description:'
      %pre.content= @ticket.description
    = render 'cucumber_description'
  
    .ticket_attachements
      %h2= "Attachements"
      = render :partial => 'ticket/ticket_attachements/ticket_attachements'
      = render :partial => 'ticket/ticket_attachements/form' if can? :manage_tickets, @project