<!DOCTYPE html>
<html>
<head>
  <title>Agile-Story</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= render :partial => "top_bar" %>
  <%= render :partial => "logo_bar" %>
  <%= render :partial => 'flash_message_bar', :locals => { :class_name => 'alert', :message => alert } %>
  <%= render :partial => 'flash_message_bar', :locals => { :class_name => 'notice', :message => notice } %>
  <div id="main_container">
    <%= yield %>
  </div>
</body>
</html>

